body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
h1{
    color: #17a2b8;
}

.formGroup{
    box-shadow: -5px 2px 69px -9px rgba(0, 0, 0, 1);
}
.form-control:focus{
    border-color: #17a2b8 !important;
    outline: 0;
}
.formGroup button:hover{
color: white;
}
.sigin:hover{
text-decoration: underline !important;
}